<div id="checkerboard">
    <div id="cake" class="picnic-item">
        <a routerLink="/desserts">
            <img src="../../assets/cake.svg" alt="Dessert">
        </a>
    </div>
    <div id="lemonade" class="picnic-item">
        <a routerLink="/recipes">
            <img src="../../assets/lemonade.svg" alt="Drinks">
        </a>
    </div>
    <div id="pizza" class="picnic-item">
        <a routerLink="/food">
            <img src="../../assets/pizza.svg" alt="Food">
        </a>
    </div>
    <div id="fruits" class="picnic-item">
        <a routerLink="/recipes">
            <img src="../../assets/fruits.svg" alt="Snacks">
        </a>
    </div>
</div>
