/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: empire;
    src: url(./assets/empire.ttf) format("opentype");
}

@font-face {
    font-family: sunny;
    src: url(./assets/sunny.otf) format("opentype");
}
